@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf') format('truetype');
}

body{
     background-color: black;
     color: whitesmoke;
     font-family: sans-serif;
 }    

 #my-name{
     font-family:serif;
     font-size: 20px;
     font-weight: 600;
     color: goldenrod;
 }

 .topics{
    font-style: italic;
    color: silver;
    text-align: center;
 }

 .hard-skills{
     font-size: medium;
     font-weight: 400;
     list-style-type: square;
 }

 #redes-sociais{
     background-color: black;
     border-radius: 4px;
     list-style-type: square;
     line-height: 20px;
 }

 #my-insta{
     text-decoration: none;
     color: goldenrod;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
 }

 #my-linkedin{
    text-decoration: none;
     color: goldenrod;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
 }

 #my-github{
    text-decoration: none;
     color: goldenrod;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
 }

 #fale-comigo{
    background-color: black;
     border-radius: 4px;
     list-style-type: square;
     text-decoration: none;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
     line-height: 20px;
 }

 #email{
    text-decoration: none;
     font-weight: bold;
     color: goldenrod;
     font-size: small;
     text-decoration: underline;
 }

 #wpp{
    text-decoration: none;
     color: goldenrod;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
 }

 .indice{
    text-decoration: none;
     color: goldenrod;
     font-weight: bold;
     font-size: small;
     text-decoration: underline;
 }

 #lista-indice{
     list-style-type: square;
     line-height: 20px;
 }

 h1{
     text-align: center;
     color: silver;
     font-style: italic;
     font-size: 50px;
 }

 #gabriel{
    border-radius: 20%;
    border: 8px solid goldenrod; 
    display: block;
    margin-left: auto;
    margin-right: auto
 }

 #parte1{
     font-size: 30px;
 }

 #parte2{
     font-size: 30px;
 }